@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&display=swap');

@theme {
	--font-inter: 'Inter', sans-serif;
	--font-montserrat: 'Montserrat', sans-serif;
	--color-primary: #f2b42d;
	--color-primary-foreground: #ffffff;
	--color-foreground: #131740;
	--color-very-tertiary: #0C102D;
	--color-background: #ffffff;
	--color-muted: #5a5d79;
	--color-secondary: #61c8f3;
	--color-secondary-foreground: #ffffff;
	--color-tertiary: #131740;
	--color-tertiary-foreground: #ffffff;
}

::-webkit-scrollbar {
	display: none;
}

body {
	scrollbar-width: none;
}
